<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% if (genre_list && genre_list.length) { %>
        <ul>
            <% genre_list.map((genre) => { %>
                <li>
                    <a href="<%= genre.url %>"><%= genre.name %></a>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No genres to list...</p>
    <% } %>
</body>
</html>